.carousel {
  padding: 38px 20px 30px;
  background-color: #FFC84D;

  &__wrapper {
    width: 100%;
    margin-bottom: 40px;
    padding-bottom: 10px;
    overflow: hidden;
  }

  &__list {
    display: flex;
    width: 400%;

    margin: 0;
    padding: 0;

    list-style: none;
  }

  &__list-item:not(:last-of-type) {

    @include desktop {
      margin-right: 150px;
    }
  }

  &__item {
    max-width: 390px;
    min-height: 358px;
  }
}