.feature {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 51px 31px 41px;

  background-color: #FFF3D7;
  border-radius: 50px;
  box-shadow: 0 10px 0 0 #F5BD3F;

  @include tablet {
    padding: 50px 58px 41px 114px;
  }

  &--new {
    position: relative;

    &::before {
      content:"NEW";
      position: absolute;
      top: -6px;
      left: 31px;

      display: flex;
      justify-content: center;
      align-items: center;

      width: 69px;
      height: 34px;

      color: #fff;
      font-weight: 500;
      font-size: 1.125rem;
      line-height: 160%;

      background: #F063B8;
      box-shadow: 0px 4px 0px #EFE3C5;
      border-radius: 0px 0px 4px 4px;

      @include tablet {
        left: 114px;
      }
    }
  }

  &__heading {
    margin: 0 0 28px;
    color: #212353;
    font-size: 1.563rem;
    line-height: 130%;
  }

  &__description {
    margin: 0 0 auto;
    line-height: 160%;
  }

  &__link {
    color: #212353;
    font-weight: bold;
    letter-spacing: 0.005em;
    line-height: 160%;

    &:focus,
    &:hover {
      color: #9C69E2;
    }

    &::after {
      content: "";
      display: inline-block;
      width: 1.375em;
      height: 1em;
      margin-left: 24px;

      vertical-align: middle;

      background-image: url(../img/arrow-link.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 1.375em 1em;
      border: none;
    
      @include retina {
        background-image: url("data:image/svg+xml,%3Csvg width='22' height='16' viewBox='0 0 22 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 15L21 8L15 1' stroke='%239C69E2' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M21 8H1' stroke='%239C69E2' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
      }

    }
  }
}