.footer-menu {
  margin-bottom: 32px;
  color: #fff;

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item:not(:last-of-type) {
    margin-bottom: 4px;
  }

  &__link {
    line-height: 250%;

    &:focus,
    &:hover {
      text-decoration: underline;
    }
  }
}