.footer-menu {
  margin-bottom: 32px;

  color: #fff;
  line-height: 250%;

  @include tablet {
    margin-bottom: 0;
  }

  @include min-width(1024px) {
    padding-top: 4px;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;

    @include min-width(1024px) {
      display: flex;
      align-items: center;
    }
  }

  &__item:not(:last-of-type) {
    margin-bottom: 4px;

    @include min-width(1024px) {
      margin-bottom: 0;
      margin-right: 54px;
    }
  }

  &__link {

    &:focus,
    &:hover {
      color: #FFC84D;
    }
  }
}