.footer {
  padding-top: 58px;
  padding-bottom: 52px;

  background-color: #9C69E2;

  @include tablet {
    padding-top: 52px;
    padding-bottom: 40px;
  }

  @include min-width(1024px) {
    padding-top: 74px;
  }

  &__container {
    display: grid;
    grid-template-areas:  "logo menu"
                          "form form";
    grid-template-rows: auto auto;
    grid-template-columns: 1fr auto;

    margin: 0 20px;

    @include tablet {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      margin: 0 27px;
    }

    @include tablet-ipad {
      margin: 0 34px;
    }

    @include min-width(1320px) {
      margin: 0 20px;
    }

    @include min-width(1360px) {
      margin: 0 auto;
    }
  }

  &__logo {
    grid-area: logo;
    flex-shrink: 0;
    margin-left: 4px;

    @include tablet {
      margin-top: 6px;
      margin-left: 0;
    }

    @include tablet-ipad {
      margin-right: 73px;
    }

    @include min-width(1024px) {
      margin-right: 192px;
    }
  }

  &__menu {
    grid-area: menu;

    @include tablet-ipad {
      margin-right: auto;
    }
  }

  &__form {
    grid-area: form;
  }
}