.footer-menu {
  margin-bottom: 32px;

  color: #fff;
  line-height: 250%;

  @include tablet {
    margin-bottom: 0;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item:not(:last-of-type) {
    margin-bottom: 4px;
  }

  &__link {

    &:focus,
    &:hover {
      text-decoration: underline;
    }
  }
}